<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>StockEye</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    </head>
    <body>
        <div class="page" id="page">
            <%- include('../partials/navbar')  %> 
            <!--This is a list containing all the stocks -->
            <ul class="stock-list">
                <!--uses ejs to loop through the Stocks, which are passed here from tbe router-->
                <% Stocks.forEach(stock => {%>
                    <div>
                        <li class="stock-profile">
                            <text><%= stock.Name %></text>
                            <div>
                                <!--dynamic route, route depends on what stock you invest in-->
                                <%if(currentuser){%>
                                    <%if(userType != 'Broker'){%>
                                        <button class="buysell-btn" onclick=<%="openInvestment('"+stock.Name+"')"%>>Invest</button>
                                        <div class="form-page" id="form_page<%= stock.Name %>"></div>
                                        <div class="form-popup" id="invest_form<%= stock.Name %>">
                                            <text><%= stock.Name %></text>
                                            <form action='/buy/<%= stock.Name %> ' method="post">
                                                <button type="submit" class="buysell-btn">Buy</button>
                                                <input id="amount" name="amount" type="text">
                                            </form>
                                            <form action="/sell/<%= stock.Name %> " method="post">
                                                <button type="submit" class="buysell-btn">Sell</button>
                                            </form>
                                                <button type="button" onclick=<%="closeInvestment('"+stock.Name+"')"%>>Close</button>
                                        </div>
                                    <%}%>
                                <%}%>
                                <form action="/view/<%= stock.Name %>" method="post">
                                    <button type="submit" class="buysell-btn">View</button>
                                </form> 
                            </div>
                        </li>
                    </div>
                <%}); %>
            </ul>
        </div>
    </body>
    <script>
        function openInvestment(name){
            document.getElementById("form_page"+name).style.display = "block";
            document.getElementById("invest_form"+name).style.display = "block";
        }
        
        function closeInvestment(name){
            document.getElementById("form_page"+name).style.display = "none";
            document.getElementById("invest_form"+name).style.display = "none";
        }
    </script>
</html>